@import "../../../sass/engine.scss";

.radialContainer{
  
  display: flex;
  flex-direction: column;
  margin: 10px; 


  .radialContent {
    min-width: 120px;
    height: 120px;
    background-color: white;
    position: relative;
    border-radius: 3px;
    border : 3px solid rgb(182, 182, 182);
    box-sizing: content-box;
    box-shadow: 2px 6px 4px 0 rgba(60,64,67,.15), 
    2px 2px 6px 4px rgba(60,64,67,.5);;
  
    input {
      position: absolute;
      top: 34px;
      left: 0px;
      max-width: 120px;
      font-size: 48px;
      text-align: center;
      border: none;
  
      &:disabled {
        background-color: transparent;
        color: black;
      }
    }
  
    canvas {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    } 
   
  }

  .radialLabel{
    text-align: center;
    margin : 0.5rem 0;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: bold;
  }
}


