@import "../../../sass/engine.scss";

.header_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  h1 {
    font-size: 3rem;
    line-height: 3rem;
    color: white;
    font-weight: bold;
  }

  .marvelText {
    background-color: $marvelColor;
    color: white;
    padding: 0px 5px;
  }
}
