.container{

  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width : 500px;

.title {
  color : red;
  animation-name: toto;
  animation-duration: 0.8s;
  text-transform: uppercase;
  font-weight: bold;
}

.bigImg{
  max-width: 500px;
  max-height: 500px;  
  object-fit:scale-down;
  display: flex;
  background-color: white;



  img{
    object-fit:scale-down;
    width : 100%;
    height : 100%
  }
}

.button{
  display: block;
}

.pie{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: yellowgreen;
}
}

@keyframes toto {

  0%{opacity : 0; font-weight: bold;}
  100%{opacity: 1; font-weight: bold;}
  
}