@import "../../../sass/engine.scss";

.searchContainer {
  position: relative;

  .searchBar {
    border: none;
    min-width: 20vh;
    max-height: 32px;
    border-radius: 3px;
    padding: 1rem;
    transition: all 0.5s;
    &:focus {
      min-width: 45vh;
      outline: none;
    }

    
  }

  .searchRes {
    display: block;
    background-color: white;
    position: absolute;
    margin : 0.5rem 0 0;
    width: 100%;
    padding: 0.25rem 0.25rem;
    z-index: 1000;
    li {
      background-color: white;
      padding : 0.5rem 0.5rem;
      cursor : pointer;
      &:hover{
        background-color: rgb(63, 18, 18);
        color : white
      }
    }
  }
}

