@import "../sass/engine.scss";

.main {
  padding: 0 5rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: all;
  transition-duration: 0.5s;
  position: relative;
 
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.identity{
  background-color: cadetblue;
  display: flex;
  flex : 1;
  justify-content: space-around;
}

.temp{
  background-color: rgb(0, 8, 255);
  display: flex;
  flex: 1;
  padding: 2rem;
}

.title {
  color : red;
  animation-name: toto;
  animation-duration: 0.8s;
  text-transform: uppercase;
  font-weight: bold;
}

.button_container{
  position: fixed;
  background-color: cornflowerblue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width : 3rem;
  

  &Prev{
    left : 10px
  }
  &Next{
    right : 10px;
  }

  .button{
    $size : 3rem;
    @include size($size,$size);
    border-radius: 50%; 
    transition : 0.5s;

    &:hover{
      transform: scale(1.2);
    }
  
  }

}

.whiteText{
  color :white
}



.ironman{
  background-color: rgba(163, 145, 6,.9);
}

.spiderman{
  background-color: rgba(15, 27, 57, .9);
}

.hulk{
  background-color: rgba(75, 3, 75,.9);
}

.thor{
  background-color: rgba(41, 101, 255,.9);
}
.docteurstrange{
  background-color: rgba(58, 53, 53, 0.9);
}
